*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(23, 23, 85);
    color: white;
}

header{
    background-color: rgb(16, 16, 43);
    height: 10vh;
}

#menu{
    background-color: rgba(4, 4, 17, 0.548);
    width: 35vw;
    height: 80vh;
    margin: 30px 10px 0px 30px;

}
#content{
    width: 50vw;
    height: 80vh;
    border-radius: 30px;
    margin: 30px 30px 0px 0px;
    float:  right;
}

.contentChild{
    height: 37.5vh;
    width: 50vw;
    background-color: rgba(14, 14, 66, 0.685);
    margin-bottom: 5vh;
}